.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand img {
  max-height: 50px; /* Adjust the height of the logo */
}

.navName {
  background: linear-gradient(to right, orange, rgb(0, 0, 113));
  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  color: transparent;
  padding: auto;
}

.navbar-toggler-icon:before,
.navbar-toggler-icon:after {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background-color: #333; /* Change the color to match your design */
  margin-top: 6px; /* Adjust the spacing between lines */
}

.navbar-toggler.collapsed .navbar-toggler-icon:before {
  transform: rotate(-45deg);
  transition: transform 0.2s ease-in-out;
}

.navbar-toggler.collapsed .navbar-toggler-icon:after {
  transform: rotate(45deg);
  transition: transform 0.2s ease-in-out;
}

/* Larger font size for mobile devices */
@media (max-width: 767px) {
  .navbar-brand,
  .navbar-nav .nav-link {
    font-size: 18px; /* Adjust the font size */
  }

  .navbar-toggler {
    font-size: 24px; /* Adjust the font size of the toggler button */
  }

  .navbar-collapse {
    text-align: center; /* Center-align the dropdown menu items */
  }

  .navbar-collapse .navbar-nav {
    margin-top: 10px; /* Adjust the spacing between navbar items in the dropdown */
  }

  .navbar-collapse .navbar-nav .nav-item {
    text-align: center; /* Center-align individual dropdown items */
  }
}
/*------------------------------------------------------------------------------------------------------------*/
/* body
landing page */
/*------------------------------------------------------------------------------------------------------------*/

.landing-page {
  background: #f8f9fa; /* Set a background color */
}

.jumbotron-container {
    background: url('./img/backdrop.jpg') center/cover; /* Set the background image */
    background-size: cover; /* Ensure the background covers the entire container */
    background-position: center; /* Center the background image */
    height: 100vh; /* Set the height to full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0);
  color: black; /* Set text color to white */
  text-align: center;
  justify-content: center;
  padding: 20px; /* Adjust the padding as needed */
  font-weight: 100;
  font-family: 'Times New Roman', Times, serif;
}

.floating-text {
  animation: floatUp 2s ease infinite, gradientAnimation 5s ease infinite;
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 113));
  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  color: transparent;

}

@keyframes floatUp {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Adjust the floating distance */
  }
}

@keyframes gradientAnimation {
  0%, 100% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
}
